<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Exam Performance Prediction</title>
</head>
<body>
    <div class="login">
        <h1>Student Exam Performance Indicator</h1>

        <form action="{{ url_for('predict_datapoint') }}" method="post">
            <fieldset>
                <legend>Student Exam Performance Prediction</legend>

                <div class="mb-3">
                    <label class="form-label" for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option class="placeholder" selected disabled value="">Select your Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="ethnicity">Race or Ethnicity</label>
                    <select class="form-control" id="ethnicity" name="ethnicity" required>
                        <option class="placeholder" selected disabled value="">Select Ethnicity</option>
                        <option value="group A">Group A</option>
                        <option value="group B">Group B</option>
                        <option value="group C">Group C</option>
                        <option value="group D">Group D</option>
                        <option value="group E">Group E</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="parental_level_of_education">Parental Level of Education</label>
                    <select class="form-control" id="parental_level_of_education" name="parental_level_of_education" required>
                        <option class="placeholder" selected disabled value="">Select Parent Education</option>
                        <option value="associate's degree">Associate's degree</option>
                        <option value="bachelor's degree">Bachelor's degree</option>
                        <option value="high school">High school</option>
                        <option value="master's degree">Master's degree</option>
                        <option value="some college">Some college</option>
                        <option value="some high school">Some high school</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="lunch">Lunch Type</label>
                    <select class="form-control" id="lunch" name="lunch" required>
                        <option class="placeholder" selected disabled value="">Select Lunch Type</option>
                        <option value="free/reduced">Free/reduced</option>
                        <option value="standard">Standard</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="test_preparation_course">Test Preparation Course</label>
                    <select class="form-control" id="test_preparation_course" name="test_preparation_course" required>
                        <option class="placeholder" selected disabled value="">Select Test Course</option>
                        <option value="none">None</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="reading_score">Reading Score out of 100</label>
                    <input class="form-control" id="reading_score" type="number" name="reading_score"
                        placeholder="Enter your reading score" min="0" max="100" required>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="writing_score">Writing Score out of 100</label>
                    <input class="form-control" id="writing_score" type="number" name="writing_score"
                        placeholder="Enter your writing score" min="0" max="100" required>
                </div>

                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Predict your Math Score">
                </div>
            </fieldset>
        </form>

        {% if results is defined %}
        <h2>The prediction is {{ results }}</h2>
        {% endif %}
    </div>
</body>
</html>
